# PyCharm project settings
.idea/

__pycache__/

# scratch files
scratch/

# model training checkpoints and replays
checkpoints/
replays/
data/

# wandb makes a lot of files when training models
wandb/